// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  #head{
    text-align: center;
    color: #999;
  }
}

